<h1>About</h1>
<pre class="no-gutters" >

    Hey there! 👋 I'm Ritesh Kumar Gupta, the developer behind this awesome Todo list application. 📝✨
    
    ## My Passion
    
    I'm passionate about productivity and organization. I believe a well-organized todo list can make a huge difference in one's life. 🌟
    
    ## My Goal
    
    My goal with this app is to provide you with a simple yet powerful tool to manage your tasks, boost your productivity, and bring more structure to your day. 
    Let's make every day a little more productive! 💪
    
    ## Let's Connect
    
    I'd love to hear your feedback and suggestions on how to improve this app. Feel free to reach out!
    
    - Email: <a href="mailto:ritesh.gupta.18117@gmail.com">Mail</a> 📧
    - LinkedIn: <a href="https://www.linkedin.com/in/ritesh-kumar-gupta-3648ab187/">LinkedIn</a> 💼
    - GitHub: <a href="https://github.com/Ritesh18117" target="_blank" rel="noopener noreferrer">GitHub</a> 🐱
    - Portfolio: <a href="https://ritesh-s-protfolio.vercel.app/">Portfolio</a> 🚀
    
    Thank you for using this Todo list app. Let's organize our lives one task at a time! 🚀
    </pre>